<aside class="aside-menu">
        <tabset>
          <tab>
            <ng-template tabHeading><i class="fa fa-dollar"></i></ng-template>
            <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
              <small><b>Today</b></small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout callout-info m-0 py-3">
              <div class="avatar float-right">
                <img src="assets/img/flags/European Union.png" class="img-avatar" alt="EURUSD">
              </div>
              <div><strong>EUR USD</strong></div>
              <small class="text-muted mr-3"><i class="fa fa-at"></i>&nbsp; 1.487</small>
              <small class="text-muted"><i class="icon-calendar"></i>&nbsp; last update time</small>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-info m-0 py-3">
                    <div class="avatar float-right">
                      <img src="assets/img/flags/United-Kingdom.png" class="img-avatar" alt="GBPUSD">
                    </div>
                    <div><strong>GBP USD</strong></div>
                    <small class="text-muted mr-3"><i class="fa fa-at"></i>&nbsp; 1.487</small>
                    <small class="text-muted"><i class="icon-calendar"></i>&nbsp; last update time</small>
                  </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
              <small><b>Tomorrow</b></small>
            </div>
            <hr class="transparent mx-3 my-0">
            <div class="callout callout-danger m-0 py-3">
              <div>New UI Project - <strong>deadline</strong></div>
              <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
              <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ </small>
              <div class="avatars-stack mt-2">
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </div>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-success m-0 py-3">
              <div><strong>#10 Startups.Garden</strong> Meetup</div>
              <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
              <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA </small>
            </div>
            <hr class="mx-3 my-0">
            <div class="callout callout-primary m-0 py-3">
              <div><strong>Team meeting</strong></div>
              <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
              <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ </small>
              <div class="avatars-stack mt-2">
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                <div class="avatar avatar-xs">
                  <img src="assets/img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </div>
            </div>
            <hr class="mx-3 my-0">
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-credit-card"></i></ng-template>
            <div class="p-3">
              <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                  <div class="avatar">
                    <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">Lukasz Holeczek</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
              </div>
              <hr>
              <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                  <div class="avatar">
                    <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">Lukasz Holeczek</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
              </div>
              <hr>
              <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                  <div class="avatar">
                    <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">Lukasz Holeczek</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
              </div>
              <hr>
              <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                  <div class="avatar">
                    <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">Lukasz Holeczek</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
              </div>
              <hr>
              <div class="message">
                <div class="py-3 pb-5 mr-3 float-left">
                  <div class="avatar">
                    <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">Lukasz Holeczek</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
              </div>
            </div>
          </tab>
        </tabset>
      </aside>
      